<div class="tabs divcenter nobottommargin clearfix" id="tab-login-register" style="max-width: 500px;">

  <ul class="tab-nav tab-nav2 center clearfix">
    <li class="inline-block"><a href="#tab-login">Login</a></li>
    <li class="inline-block"><a href="#tab-register">Register</a></li>
  </ul>

  <div class="tab-container">
    <div class="tab-content clearfix" id="tab-login">
      <div class="card nobottommargin">
        <div class="card-body" style="padding: 40px;">
          <app-login></app-login>
        </div>
      </div>
    </div>

    <div class="tab-content clearfix" id="tab-register">
      <div class="card nobottommargin">
        <div class="card-body" style="padding: 40px;">
          <app-register></app-register>
        </div>
      </div>
    </div>

  </div>

</div>
